.highestContainer{
  height:100vh;
  background: var(--background);
  position:relative;
}

.topSection{
  display:flex;
  height: 15vh;
  justify-content: space-around;
  align-items:center;
}

.topSection p {
  color:var(--on-background);
}
/*logo*/

.logoMain{
  font-size:var(--logo-font);
}

.logo{
  position:relative;
  right:30px;
}

.logoSub{
  position:relative;
  left:8px;
  font-size:var(--subs-font);
}

/*  rest of the navbar  ++ info */
.equals{
  font-size:var(--equals-font);
}
.infoSub{
  font-size:var(--subs-font);
}

/* center */
.centerTop{
  width:25%;
  margin-left:auto;
  margin-right:45%;

  display:flex;

  color:var(--on-background);
  font-size:var(--subs-font);
  
  position:relative;
  top:10%;
} 
.centerTopText {
  width:50%;
  margin-left:10%;

  text-align: right;
}
.center{
  width:60%;
  margin-left: auto;
  margin-right: auto;

  font-size)
  color:var(--on-background);
}
